# See pyproject.toml for the full list of dependencies.

./whls/jadnschema-0.6.0-py2.py3-none-any.whl
./whls/jadnxml-1.13.0-py2.py3-none-any.whl
./whls/jadnjson-1.4.0-py2.py3-none-any.whl
./whls/jadnvalidation-2.6.0-py2.py3-none-any.whl
./whls/jadn2-0.0.0-py2.py3-none-any.whl
./whls/jadnutils-0.7.1-py2.py3-none-any.whl

jadn==0.7.5
# jadn==0.7.4
numpy==2.2.6 
pandas==2.2.3
texttable==1.7.0

poetry==2.1.3
pytest